body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url(https://t3.ftcdn.net/jpg/03/91/46/10/360_F_391461057_5P0BOWl4lY442Zoo9rzEeJU0S2c1WDZR.jpg) no-repeat center center fixed;
  background-size: cover;
  background-position: center center;
  backdrop-filter: blur(5px); 
  -webkit-backdrop-filter: blur(5px);
}

nav {
  background-color: #333;
  color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-size: 36px;
  line-height: 1.5;
  color: #fff;
  padding: 20px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;

}

nav a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px 70px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to bottom, #0127ff, #555);
}

nav a:hover {
  background-color: hsl(0, 1%, 57%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.companies {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.box {
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 10px solid #333333;
  background-image: linear-gradient(to bottom, #d6d6d6, #555);
  background-size: cover;
  background-blend-mode: multiply;
  padding: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
  transition: filter 0.5s;
}

.box:hover img {
  filter: brightness(150%);
}

.box:before {
  content: "See More";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  color: #dfd000;
  font-weight: bold;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.box:hover:before {
  opacity: 1;
}

.title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px #030303;
  color: #fff;

 
 
 
  color: #fff;
  padding: 20px;
}


p {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin-left: 30px;
  margin-right: 30px
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  color: #333;
  text-align: center;
  padding: 20px;
}